// banner
@import "modules/color";
@import "modules/button";

a {
  cursor: pointer;
}
.banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 100vh;
  color: white;
  background-image: url(../images/banner.png);
  background-size: cover;
  h1  {
    font-size: 50px;
    font-style: italic;
  }
  h5 {
    letter-spacing: 3px;
  }
  i {
    display: block;
    font-size: 1rem;
  }
}
.profolioTitle {
  @extend %whitePinkTitle;
  width: 200px;
}
