// Footer
@import "modules/color";
@import "modules/button";

footer {
  background-image: url(../images/bg.jpg);
  background-size: cover;
  color: #E4E3E3;
  padding-bottom: 15px;

  @media screen and (min-width: 960px){
    .article{
    padding: 60px;
    }
  }

  h2 {
    @extend %h2Title
  }

  p {
  margin-bottom: 100px;
  }

  @media screen and (min-width: 576px) {
    .articleRight {
      margin-top: 200px;
      padding-bottom: 0;
    }
  }
  a {
    @include button(#000, #fff);
    &:hover{
      text-decoration: none;
      color: $pink;
    }
  }

}


.dot {
  margin: 60px;
  letter-spacing: 10px;
  text-align: center;
}


.copyRight {
  text-align: center;

  p {
    padding: 20px;
  }

  span {
    color: $pink;
  }
}
