// teamMember
@import "modules/color";
@import "modules/button";

.teamMember {
  background-color: #fff;
  padding-top: 100px;
  padding-bottom: 45px;
  .teamMemberTitle {
    @extend %whitePinkTitle;
  }
  .teamMembersubTitle {
    color: $pink;
    font-size: 30px;
    margin: 50px;
    text-align: center;
    letter-spacing: 3px;
  }
  a {
    @include button(#fff, #000);
  }
}
@media screen and (min-width:960px) {
  .container {
    width: 960px;
  }
}


.member {
  padding: 0;
  margin-bottom: 20px;
  text-align: center;
  img {
    width: 100%;
    height: auto;
  }
  h2{
    @extend %h2Title;
    color: $pink;
    letter-spacing: 3px;
    margin-top: 20px;
    margin-bottom: 0;
  }
}
