/*<!--~~~~~~~~~~~~~~~~~~-->*/
/*<!--  Navigation bar  -->*/
/*<!--~~~~~~~~~~~~~~~~~~-->*/

.navbar {
  background-color: #eeeeee;
}


.navbar-brand {
  margin: auto;
  float: left;
  text-align: center;
}


.nav{
  padding: 40px;
}


.navbar-nav li {
  display:inline;
}


.navbar-nav a {
  display: inline-block;
  position: relative;
  width: 16%;
  text-align: center;
  color: black;
  font-size: 16px;
  text-decoration: none;
}


/*<!--~~~~~~~~~~~~~~~~~~-->*/
/*<!--   Content   -->*/
/*<!--~~~~~~~~~~~~~~~~~~-->*/

#upper{
  background-color: #fdfdfd;
}


.left, .right{
  padding-top: 50px;
  padding-bottom: 50px;

}


#upper .right {
  text-align: center;
}


.button{
  text-align: center;
  margin-top: 50px;
}


.lowerTitle {
  padding-top: 50px;
}


.lowerTitle h2 {
  margin-bottom: 0px;
}


/*<!--~~~~~~~~~~~~~~~~~~-->*/
/*<!--   Footer   -->*/
/*<!--~~~~~~~~~~~~~~~~~~-->*/

footer {
  background-color: #eeeeee;
}


.copyright {
  float: left;
  padding-top: 50px;
}


footer .logolink {
  float: right;
  padding-top: 50px;
}
